
<div class="row">
    <div class="col s12 z-depth-4 card-panel">
        <div class="row">
            <div class="input-field col s12 center">
                <h4>Statistiques</h4>
                <p class="center">Nous sommes le : <b>{{date | date:'dd-MM-yyyy'}}</b></p>
            </div>
        </div>
        <div id="card-stats">
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card" ng-repeat="nb in alheure">
                        <div class="card-content  green white-text">
                            <p class="card-stats-title"><i class="mdi-social-group-add"></i> A l'heure !</p>
                            <h4 class="card-stats-number">{{nb.NbalHeure}}<i class="mdi-maps-directions-train"></i></h4>
                            <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 1,5% <span class="green-text text-lighten-5">depuis hier</span>
                            </p>
                        </div>
                        <div class="card-action  green darken-2">
                            <div id="clients-bar"><canvas height="25" width="220" style="display: inline-block; width: 220px; height: 25px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card" ng-repeat="nb in enretard track by $index">
                        <div class="card-content purple white-text">
                            <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>En retard...</p>
                            <h4 class="card-stats-number">{{nb.NbenRetard}}<i class="mdi-maps-directions-train"></i></h4>
                            <p class="card-stats-compare">= <span class="purple-text text-lighten-5">à hier.</span>
                            </p>
                        </div>
                        <div class="card-action purple darken-2">
                            <div id="sales-compositebar"><canvas height="25" width="214" style="display: inline-block; width: 214px; height: 25px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card" ng-repeat="nb in enretardmax track by $index">
                        <div class="card-content blue-grey white-text">
                            <p class="card-stats-title"><i class="mdi-action-trending-up"></i>Retard max du jour</p>
                            <h4 class="card-stats-number">{{nb.DureeRetardMax}} min.</h4>
                            <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down"></i> 20 minutes <span class="blue-grey-text text-lighten-5">depuis hier.</span>
                            </p>
                        </div>
                        <div class="card-action blue-grey darken-2">
                            <div id="profit-tristate"><canvas height="25" width="220" style="display: inline-block; width: 220px; height: 25px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card" ng-repeat="nb in nbTotalTrain track by $index">
                        <div class="card-content deep-purple white-text">
                            <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> Total des trains circulant actuellement</p>
                            <h4 class="card-stats-number">{{nb.NbTotalTrain}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action  deep-purple darken-2">
                            <div id="invoice-line"><canvas height="25" width="202" style="display: inline-block; width: 202px; height: 25px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l6">
                        <h4 class="header">Autre vue</h4>
                        <ul id="projects-collection" class="collection">
                            <li class="collection-item avatar">
                                <i class="mdi-file-folder circle light-blue"></i>
                                <span class="collection-header">Par série</span>
                                <p>les dernières...</p>
                                <!--<a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>-->
                            </li>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="collections-title">4727</p>
                                        <p class="collections-content">SNCF</p>
                                    </div>
                                    <div class="col s3">
                                        <span class="task-cat grey darken-3">TGV</span>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="collections-title">4734</p>
                                        <p class="collections-content">SNCF</p>
                                    </div>
                                    <div class="col s3">
                                        <span class="task-cat grey darken-3">TGV</span>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="collections-title">BB 7238</p>
                                        <p class="collections-content">SNCF</p>
                                    </div>
                                    <div class="col s3">
                                        <span class="task-cat green">TER</span>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s6">
                                        <p class="collections-title">Z27753</p>
                                        <p class="collections-content">SNCF</p>
                                    </div>
                                    <div class="col s3">
                                        <span class="task-cat green">TER</span>
                                    </div>
                                    <!--<div class="col s3">
                                        <div id="project-line-4"><canvas height="30" width="93" style="display: inline-block; width: 93px; height: 30px; vertical-align: top;"></canvas></div>
                                    </div>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

