
<div class="row">
    <div class="col s12 z-depth-4 card-panel">
        <div class="row">
            <div class="input-field col s12 center">
                <h4>Statistiques</h4>
                <p class="center">Nous sommes le : <b>{{date | date:'dd-MM-yyyy'}}</b></p>
            </div>
        </div>

        <div id="card-stats">
            <div class="row">
                <hr><p>En fonction de l'agent :</p><hr>
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in alheureAgent">
                        <div class="card-content statAgent white-text">
                            <p class="card-stats-title"><i class="mdi-social-group-add"></i> A l'heure !</p>
                            <h4 class="card-stats-number">{{nb.NbalHeureAgent}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action statAgentDark">
                            <p class="card-stats-compare">Ses statistiques sont propres à l'agent.</p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in enretardAgent track by $index">
                        <div class="card-content statAgent white-text">
                            <p class="card-stats-title"><i class="mdi-editor-attach-money"></i> En retard...</p>
                            <h4 class="card-stats-number">{{nb.NbenRetardAgent}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action statAgentDark">
                            <p class="card-stats-compare">Ses statistiques sont propres à l'agent.</p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in annuleAgent track by $index">
                        <div class="card-content statAgent white-text">
                            <p class="card-stats-title"><i class="mdi-editor-attach-money"></i> Annulé ou déprogrammé</p>
                            <h4 class="card-stats-number">{{nb.NbannuleAgent}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action statAgentDark">
                            <p class="card-stats-compare">Ses statistiques sont propres à l'agent.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr><p>En fonction de la gare :</p><hr>
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in alheure">
                        <div class="card-content statGlobal white-text">
                            <p class="card-stats-title"><i class="mdi-social-group-add"></i> A l'heure !</p>
                            <h4 class="card-stats-number">{{nb.NbalHeure}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action  statGlobalDark">
                            <p class="card-stats-compare">Ses statistiques sont globaux sur la journée.</p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in enretard track by $index">
                        <div class="card-content statGlobal white-text">
                            <p class="card-stats-title"><i class="mdi-editor-attach-money"></i> En retard...</p>
                            <h4 class="card-stats-number">{{nb.NbenRetard}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action statGlobalDark">
                            <p class="card-stats-compare">Ses statistiques sont globaux sur la journée.</p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in nbTotalTrain track by $index">
                        <div class="card-content statGlobal white-text">
                            <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> Départs réalisés</p>
                            <h4 class="card-stats-number">{{nb.NbTotalTrain}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action statGlobalDark">
                            <p class="card-stats-compare">--- ---</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in alheureSemaine track by $index">
                        <div class="card-content statMax white-text">
                            <p class="card-stats-title"><i class="mdi-social-group-add"></i> A l'heure sur la semaine!</p>
                            <h4 class="card-stats-number">{{nb.NbalHeureSemaine}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action statMaxDark">
                            <p class="card-stats-compare">--- ---</p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in enretardSemaine track by $index">
                        <div class="card-content statMax white-text">
                            <p class="card-stats-title"><i class="mdi-social-group-add"></i> En retard sur la semaine</p>
                            <h4 class="card-stats-number">{{nb.NbenRetardSemaine}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action statMaxDark">
                            <p class="card-stats-compare">--- ---</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr><p>En fonction de l'activité :</p><hr>

            </div>
        </div>
    </div>
</div>
