<!doctype html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>0" - Historique</title>

        <!-- Favicons-->
        <link rel="icon" href="../images/favicon/favicon-32x32.png" sizes="32x32">
        <!-- Favicons-->
        <link rel="apple-touch-icon-precomposed" href="../images/favicon/apple-touch-icon-152x152.png">
        <!-- For iPhone -->
        <meta name="msapplication-TileColor" content="#00bcd4">
        <meta name="msapplication-TileImage" content="../images/favicon/mstile-144x144.png">
        <!-- For Windows Phone -->


        <!-- CORE CSS-->

        <link href="../materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../stylesheets/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>

    <body class="cyan">

        <div class="row">
            <div class="col s12 z-depth-4 card-panel">
                <table class="table-responsive bordered centered">
                    <thead>
                    <tr>
                        <th data-field="id">N° train</th>
                        <th data-field="retard">Retard</th>
                        <th data-field="temps">Temps de retard</th>
                        <th data-field="temps">Opérateur Départ</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>87123</td>
                        <td>OUI</td>
                        <td>3.54</td>
                        <td>MARCHALL</td>
                    </tr>
                    <tr>
                        <td>7234</td>
                        <td>NON</td>
                        <td>---</td>
                        <td>RICO</td>
                    </tr>
                    <tr>
                        <td>7276</td>
                        <td>OUI</td>
                        <td>16.34</td>
                        <td>LESTAGE</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </body>

    <footer style="position:fixed;
                   left:0px;
                   bottom:0px;
                   height:80px;
                   width:100%;
                   padding: inherit;
                   background:rgb(0,154,166) !important">
        <div class="row" style="display: table;">
            <div style="text-align: center; display: table-cell; width: 100px; color:rgb(60,55,50);">
                <a href="/deconnexion"><i class="fa fa-sign-out fa-4x" style="margin-bottom:0;color:rgb(185,185,185)"></i></a>
                <p style="margin-top:0;">Déconnexion</p>
            </div>
            <div style="text-align: center; display: table-cell; width: 100px;color:rgb(60,55,50);">
                <a href="/ace"><i class="fa fa-home fa-4x" style="margin-bottom:0;color:rgb(185,185,185)"></i></a>
                <p style="margin-top:0;">Menu</p>
            </div>
        </div>
        <!-- ================================================
        Scripts
        ================================================ -->

        <!-- jQuery Library -->
        <script src="//code.angularjs.org/1.2.20/angular.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!--materialize js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    </footer>
</html>