<!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 1.0
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->
<!doctype html>
<html lang="fr" ng-app="ajoutHoraireApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">
        <title>Login Page | Materialize - Material Design Admin Template</title>

        <!-- Favicons-->
        <link rel="icon" href="../images/favicon/favicon-32x32.png" sizes="32x32">
        <!-- Favicons-->
        <link rel="apple-touch-icon-precomposed" href="../images/favicon/apple-touch-icon-152x152.png">
        <!-- For iPhone -->
        <meta name="msapplication-TileColor" content="#00bcd4">
        <meta name="msapplication-TileImage" content="../images/favicon/mstile-144x144.png">
        <!-- For Windows Phone -->


        <!-- CORE CSS-->

        <link href="../materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../stylesheets/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">

        <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
        <link href="../stylesheets/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../stylesheets/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

    </head>

    <body class="cyan loaded">
        <!-- Start Page Loading -->
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <!-- End Page Loading -->


        <div class="row">
            <div class="col s12 z-depth-4 card-panel">
                <table class="table-responsive bordered centered">
                    <thead>
                    <tr>
                        <th data-field="id">N° train</th>
                        <th data-field="retard">Retard</th>
                        <th data-field="temps">Temps de retard</th>
                        <th data-field="temps">Opérateur Départ</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>87123</td>
                        <td>OUI</td>
                        <td>3.54</td>
                        <td>MARCHALL</td>
                    </tr>
                    <tr>
                        <td>7234</td>
                        <td>NON</td>
                        <td>---</td>
                        <td>RICO</td>
                    </tr>
                    <tr>
                        <td>7276</td>
                        <td>OUI</td>
                        <td>16.34</td>
                        <td>LESTAGE</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 16">
                    <a href="/ace/ajoutHoraires" class="waves-effect waves-light btn-large"><i class="mdi-editor-insert-chart left"></i></a>
                </div>
            </div>
        </div>



        <!-- ================================================
          Scripts
          ================================================ -->

        <!-- jQuery Library -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="//code.angularjs.org/1.2.20/angular.js"></script>
        <script type="text/javascript" src="../javascripts/LogIn.js" charset="UTF-8"></script>
        <!--materialize js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
        <!--prism-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
        <!--scrollbar-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.3/js/min/perfect-scrollbar.min.js"></script>

        <!--plugins.js - Some Specific JS codes for Plugin Settings-->
        <script type="text/javascript" src="../../javascripts/plugin.js"></script>



        <div class="hiddendiv common"></div>
    </body>
</html>