<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ajout des trains</title>

        <!-- For iPhone -->
        <meta name="msapplication-TileColor" content="#00bcd4">
        <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
        <!-- For Windows Phone -->


        <!-- CORE CSS-->

        <link href="../materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../stylesheets/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>

    <body class="cyan">



        <div id="login-page" class="row" ng-app="zeroSecApp" ng-controller="ajoutHoraireCtrl">
            <div class="col s12 z-depth-4 card-panel">
                <form class="login-form">
                    <div class="row">
                        <div class="input-field col s12 center">
                            <h4>Insertion de fichier</h4>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <form action="#">
                                <div class="file-field input-field">
                                    <input class="file-path validate" type="text"/>
                                    <div class="btn">
                                        <span>Fichier</span>
                                        <input type="file" name="fileImport" fileread="file" accept=".xlsx"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 m6 16">
                            <a href="/" class="waves-effect waves-light btn-large"><i class="mdi-av-skip-previous right" style="width: 56px;margin-left: 0px;"></i></a>
                        </div>
                        <div class="input-field col s6 m6 16" id="btn_send">
                            <div class="btn" style="height: 54px;line-height: 54px;">
                                <span ng-click="sendFile()">Envoi</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </body>

    <footer style="position:fixed;
                   left:0px;
                   bottom:0px;
                   height:80px;
                   width:100%;
                   padding: inherit;
                   background:rgb(0,154,166) !important">
        <div class="row" style="display: table;">
            <div style="text-align: center; display: table-cell; width: 100px; color:rgb(60,55,50);">
                <a href="/deconnexion"><i class="fa fa-sign-out fa-4x" style="margin-bottom:0;color:rgb(185,185,185)"></i></a>
                <p style="margin-top:0;">Déconnexion</p>
            </div>
            <div style="text-align: center; display: table-cell; width: 100px;color:rgb(60,55,50);">
                <a href="/ace"><i class="fa fa-home fa-4x" style="margin-bottom:0;color:rgb(185,185,185)"></i></a>
                <p style="margin-top:0;">Menu</p>
            </div>
        </div>
        <!-- ================================================
        Scripts
        ================================================ -->

        <!-- jQuery Library -->
        <script src="//code.angularjs.org/1.2.20/angular.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <!--materialize js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

        <script type="text/javascript" src="/javascripts/trainData.js"></script>
    </footer>
</html>
