<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<div class="row">
    <div class="col s12 z-depth-4 card-panel">
        <table class="table-responsive bordered centered" ng-controlle="historiqueCtrl">
            <thead>
            <tr>
                <th data-field="id">N° train</th>
                <th data-field="retard">OD</th>
                <th data-field="temps">En retard ?</th>
                <th >Unité du retard</th>
                <th >Cause du retard</th>
                <th >Commentaire</th>
                <th >Durée du retard</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="ret in retards">
                <td>
                    {{ret.num_train}}
                </td>
                <td>{{ret.nom}}</td>
                <td>
                    <span editable-text="ret.retard" e-name="retard" e-form="rowform"  e-required>
                        {{(ret.retard==1)?"Oui":"Non"}}
                    </span>
                </td>
                <td>
                    <span editable-select="ret.libelle" e-name="libelle" onshow="loadUnites()" e-form="rowform" e-ng-options="u.id_unite as u.libelle_unite for u in unites">
                        {{ showUnites() }}
                    </span>
                </td>
                <td>
                    <span editable-text="ret.libelleCR" e-name="libelleCR" e-form="rowform"  e-required>
                        {{ret.libelleCR || "/"}}
                    </span>
                </td>
                <td>
                    <span editable-text="ret.commentaire" e-name="commentaire" e-form="rowform"  e-required>
                        {{ret.commentaire || "/"}}
                    </span>
                </td>
                <td>
                    <span editable-text="ret.duree_retard" e-name="duree_retard" e-form="rowform">
                        {{ret.duree_retard || "<1min"}}
                    </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            Sauvegarder
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            Annuler
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">Modifier</button>
                        <button class="btn btn-danger" ng-click="removeUser(ret.id_historique)">Supprimer</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div style="position:fixed;
               left:0px;
               bottom:0px;
               height:80px;
               width:100%;
               padding: inherit;
               z-index: 2;
               background:rgb(0,154,166) !important">
    <div class="row" style="display: table;">
        <button style="background-color: rgb(0, 154, 166);border: none;" ng-click="deconnexion()">
            <i class="fa fa-sign-out fa-4x" style="margin-bottom:0;color:rgb(185,185,185)"></i>
            <p style="margin-top:0;">Déconnexion</p>
        </button>
        <button style="background-color: rgb(0, 154, 166);border: none;" ng-click="menu()">
            <i class="fa fa-home fa-4x" style="margin-bottom:0;color:rgb(185,185,185)"></i>
            <p style="margin-top:0;">Menu</p>
        </button>
    </div>

</div>
