<div id="login-page" class="row" ng-app="zeroSecApp" ng-controller="ajoutHoraireCtrl">
    <div class="col s12 z-depth-4 card-panel">
        <form class="login-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <h4>Insertion de fichier</h4>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <form action="#">
                        <div class="file-field input-field" style="text-align: center">
                            <input class="file-path validate" type="text"/>
                            <div class="btn">
                                <span>Fichier</span>
                                <input type="file" name="fileImport" fileread="file" accept=".xlsx"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" style="text-align: center">
                    <div class="btn" style="height: 43px;line-height: 43px;width: 115px;">
                        <span ng-click="sendFile()">Envoi</span>
                    </div>
            </div>
        </form>
    </div>
</div>

<div style="position:fixed;
               left:0px;
               bottom:0px;
               height:80px;
               width:100%;
               padding: inherit;
               background:rgb(0,154,166) !important">
    <div class="row" style="display: table;">
        <div style="text-align: center; display: table-cell; width: 100px; color:rgb(60,55,50);">
            <div ng-click="deconnexion()"><i class="fa fa-sign-out fa-4x" style="margin-bottom:0;color:rgb(185,185,185)"></i></div>
            <p style="margin-top:0;">Déconnexion</p>
        </div>
        <div style="text-align: center; display: table-cell; width: 100px;color:rgb(60,55,50);">
            <div ng-click="menu()"><i class="fa fa-home fa-4x" style="margin-bottom:0;color:rgb(185,185,185)"></i></div>
            <p style="margin-top:0;">Menu</p>
        </div>
    </div>

</div>

