<div id="login-page" class="row" ng-controller="ajoutHoraireCtrl">
    <div class="col s12 z-depth-4 card-panel">
        <form class="login-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <h4>Insertion de fichier</h4>
                </div>
            </div>


            <div class="row" style="text-align: center;">
                <label class="import-file">
                    <input type="file" name="fileImport" fileread="file" style="display: none;"  onchange="angular.element(this).scope().fileNameChanged(this)">
                    <p style="height: 27px;color: #000;border-bottom: 1px solid rgb(0, 0, 0);font-size: 1.4em;text-align: center;">{{nom_fichier}}</p>
                    <div class="btn" style="height: 43px;line-height: 43px;width: 216px;">Sélectionner un fichier</div>
                </label>
            </div>

            <div class="row" style="text-align: center">
                <div class="btn" style="height: 43px;line-height: 43px;width: 216px;">
                    <span ng-click="sendFile()">Envoi</span>
                </div>
            </div>
        </form>
    </div>
</div>




