<div class="row" controller="menu_aceCtrl">
    <div class="col s12 z-depth-4 card-panel">

        <div class="row">
            <div class="input-field col s12">
                <a class="btn waves-effect waves-light col s12" ng-click="affiche_historique()">Historique des retards</a>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <a class="btn waves-effect waves-light col s12" ng-click="consultStat()">Consultation des statistiques</a>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <a class="btn waves-effect waves-light col s12"> ## Prévoir un retard ##</a>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <a class="btn waves-effect waves-light col s12" ng-click="ajout_horaire()">Envoi du fichier</a>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <a class="btn waves-effect waves-light col s12" ng-click="go_od()">Partie OD</a>
            </div>
        </div>
    </div>


</div>
