
<div class="container">
    <div class="col s12 z-depth-4 card-panel">
        <div class="row">
            <div class="input-field col s12 center">
                <h4>Statistiques</h4>
                <p class="center">Nous sommes le : <b>{{date | date:'dd-MM-yyyy'}}</b></p>
            </div>
        </div>

        <div id="card-stats">
            <div class="row">
                <hr class="hrshadow"><p class="center pcartoon">En fonction de la gare :</p><hr class="hrshadow">
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in alheure">
                        <div class="card-content statAlheure white-text">
                            <p class="card-stats-title"><i class="mdi-action-alarm-on"></i> A l'heure !</p>
                            <h4 class="card-stats-number">{{nb.NbalHeure}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action  statAlheureDark"></div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card" ng-repeat="nb in enretard track by $index">
                        <div class="card-content statRetard white-text">
                            <p class="card-stats-title"><i class="mdi-action-restore"></i> En retard...</p>
                            <h4 class="card-stats-number">{{nb.NbenRetard}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action statRetardDark"></div>
                    </div>
                </div>
                <!--<div class="col s4 m4">
                    <div class="card" ng-repeat="nb in nbTotalTrain track by $index">
                        <div class="card-content statGlobal white-text">
                            <p class="card-stats-title"><i class="mdi-action-swap-vert"></i> Départs réalisés</p>
                            <h4 class="card-stats-number">{{nb.NbTotalTrain}}<i class="mdi-maps-directions-train"></i></h4>
                        </div>
                        <div class="card-action statGlobalDark"></div>
                    </div>
                </div>-->
                <div class="col s4 m4">
                    <div class="card">
                        <div class="card-content statMax white-text">
                            <p class="card-stats-title"><i class="mdi-av-timer"></i> Ponctualité Gare DV</p>
                            <h4 class="card-stats-number">{{ponctuDV | number:0}} %</h4>
                        </div>
                        <div class="card-action statMaxDark">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr class="hrshadow"><p class="center pcartoon">En fonction de l'activité :</p><hr class="hrshadow">
                <div class="col s4 m4">
                    <div class="card">
                        <div class="card-content statTERBG white-text">
                            <p class="card-stats-title "><i class="mdi-action-alarm-on"></i> A l'heure TER BG!</p>
                            <h4 class="card-stats-number">{{ponctuTERBG | number:0}} %</h4>
                        </div>
                        <div class="card-action statTERBGdark">
                            <p class="card-stats-compare"></p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card">
                        <div class="card-content statTERFC white-text">
                            <p class="card-stats-title "><i class="mdi-action-alarm-on"></i> A l'heure TER FC!</p>
                            <h4 class="card-stats-number">{{ponctuTERFC | number:0}} %</h4>
                        </div>
                        <div class="card-action statTERFCdark">
                            <p class="card-stats-compare"></p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="card">
                        <div class="card-content statVOYAGE white-text">
                            <p class="card-stats-title "><i class="mdi-action-alarm-on"></i> A l'heure VOYAGES!</p>
                            <h4 class="card-stats-number">{{ponctuVOYAGE | number:0}} %</h4>
                        </div>
                        <div class="card-action statVOYAGEdark">
                            <p class="card-stats-compare"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </div>
</div>
